*{
    color: white;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0px 0px 10px 0px;
}

html {
  padding: 40px 120px;
  height: 100%;
  background: linear-gradient(40deg, #110d33, #1a1f5a, #19205b);
  background-attachment: fixed;
  font-family: psj, system-ui,Helvetica, sans-serif;
  word-spacing: 1px;
}

body{
    display: flex;
    flex-direction: column;
    gap: 60px;
}


@font-face {
    font-family: psj;
    src: url(/Assets/Fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

h4{
    font-size: 24px;
    font-weight: 500;
}

p{
    line-height: 28px;

}

.material-symbols-outlined {
  user-select: none;
  vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.light-para{
    color: #aca8cc;
    font-weight:500 ;
}

.light-para-2{
    color: #c0bce5;
    font-weight:400;
    font-size: 18px;
    line-height: 28px;
}

.para-with-bg {
    display: inline-flex;
    max-width: 100%;
    color: #988adc;
    padding: 6px 15px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(180deg, #12123b, rgb(41, 41, 79,0.1));
    box-shadow: 1px -10px 100px 0px rgba(151, 151, 158, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(144, 134, 215,0.4);}

.hero{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.hero-slider{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    min-width: 50%;
    min-height: 80vh;
}


.hero-text img{
    max-width: 35px;
    max-height: 35px;
    opacity: 0.7;
}

.hero-text-parent{
    display: flex;
    align-items: center;
}

/*Buttons styliing here */

.filled-buttons-main{
    padding: 10px 16px;
    outline: none;
    background-color: rgb(70, 39, 205);
    border: transparent;
    border-radius: 6px;
    cursor: pointer;
    flex-shrink: 0; /* Prevent the button from stretching */
    align-self: flex-start;
    font-family: psj;
}

.filled-buttons-main:hover{
    background-color: rgb(59, 35, 165);
    transition: ease 0.2s;
}

.filled-buttons-main .material-symbols-outlined{
    font-size: 16px!important;
}

button{
    font-family: psj;
    user-select: none;
}

button:hover{
    transition: ease 0.10s;
    
}

/* End of button Styling */

.some-features{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.one .material-symbols-outlined{
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 4px;
    font-size: 28px!important;
    background-color: rgba(102, 86, 240, 0.2);
    box-shadow: 1px 1px 20px 2px rgba(46, 40, 100, 0.4); 
    backdrop-filter: blur(100px);
}

.one {
    width: 33.33%;
    align-items: left;
}

.thin-white-para{
    font-weight:400;
}

.frameworks{
    display: flex;
    gap: 40px;
    padding : 0px 25px;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 8px;
    background: linear-gradient(180deg, #1b1b57, rgb(41, 41, 79,0.1));
    box-shadow: 1px -10px 50px 0px rgba(151, 151, 158, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(144, 134, 215,0.4);
}

.frameworks img{
    display: inline-block;
    height: 50px;
    filter: grayscale(0.9);
}

.future{
    display: flex;
    justify-content: center;
    align-items: center;
}

.future img{
    max-width: 80%;
    margin-top: 20px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;    
}

.long-icons-ast{
    display: flex;
    max-width: 0px;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    border-radius: 4px;
    font-size: 28px!important;
    background-color: rgba(102, 86, 240, 0.2);
    box-shadow: 1px 1px 20px 2px rgba(46, 40, 100, 0.4); 
    backdrop-filter: blur(100px);
    margin-bottom: -30px;
}

.match-brands{
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
}

.match-brands p{
    max-width: 70%;
    margin-bottom: 60px;
}

.match-brands b{
    font-weight: 400;
}

.buttons-in-code{
    display: flex;
    gap: 15px;
}

.code-and-image{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 30px 60px!important;
    background: linear-gradient(180deg, #12123b, rgb(25, 25, 53,0.5));
    box-shadow: 1px -10px 100px 0px rgba(151, 151, 158, 0.1);
    backdrop-filter: blur(10px);
    min-width: 80vw;
    padding: 40px 20px;
    border-radius: 12px;
    border: 2px solid rgba(144, 134, 215, 0.4);
}


code{
    font-size: 14px;
    line-height: 24px;
}


.image{
    display: inline-flex;
    justify-content: end;
    width: 50%;
}

.image img{
    width: 80%;
    border-radius: 8px;
    border-top-right-radius: 12px;
}

.code{
    width: 50%;
}

.middle-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green-text{
    font-weight: 700;
    color: #aee6a4;
}

.middle-main p{
    max-width: 60%;
    text-align: center;
    font-weight: 400!important;
}

.middle-main .material-symbols-outlined{
    font-size: 36px;
    color: white;
    padding: 0px 15px;
    background: linear-gradient(180deg, #35356a, rgb(58, 59, 85,0.3));
    box-shadow: 1px -10px 100px 0px rgb(51, 50, 84,0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 30px;
    border-radius: 35px;
}

.middle-main img{
    max-width: 100%;
    margin-top: 40px;
}

.by-eng{
    display: inline-flex;
    flex-direction: column;
}

 #icon{
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    background-image: linear-gradient(180deg, #1c214c,#29274b);
    color: #ffffff;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#voilet-para{
    color: #9282dd;
    font-weight: 700;
}
.by-eng h2{
    max-width: 60%;
}

.by-eng{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.big-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.big-feature-card{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    text-align: left;
    max-width: 50%;
    background: linear-gradient(180deg, #17174c, rgba(21, 21, 45, 0.5));
    box-shadow: 1px -10px 50px 0px rgba(46, 46, 78, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    border: 2px solid rgba(144, 134, 215, 0.4);

}

.big-feature-card p{
    color: #dcdcdc;
}   

.big-feature-card h3{
    font-weight: 500;
    font-size: 32px;
}

.big-feature-card img{
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
    margin:20px 0px;
    filter: brightness(1.3);
    
}

.done-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.done{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.done h1{
    font-weight: 500;
    color: rgb(229, 229, 229);
    font-size: 36px;
    text-align: center;
}

.buttons-in{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 70px;
}

.done .material-symbols-outlined{
    vertical-align: center;
    font-size: 100px;
}

#whatsapp{
    background-color: #199082!important;
}

#whatsapp:hover{
    background-color: #13695f!important;
    transition: ease 0.10s!important;
}

/* Responsive code */

@media(max-width: 1110px){
    .hero{
        flex-direction: column;
        gap: 80px;
    }
    .hero-text{
        min-height: 0vh;
        padding-top: 10%;
    }

    .hero-slider{
        justify-content: left;
        align-items:left;
    }

    .para-with-bg-wrapper{
        width: 100%!important;
    }

    .frameworks{
        display: inline-flex;
    }

    .frework-wrapper{
        display: inline-flex!important;
        width: 100%;
    }

    .future{
        justify-content: left;
    }
}